.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //height: 94vh;
    height: 100%;
    background-color: #282c34;
    color: white;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #596b50;
    width: 80%;
    height: 100%;
    padding: 50px;
    border-right: 1px solid black;
}

// Right Side

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #666666;
    width: 20%;
    height: 100%;
    border-left: 1px solid black;
}

// media queries

