.profile > h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px 0;
  grid-column-end: span 2;
}

//.profile > div {
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    align-items: center;
//    margin-bottom: 20px;
//}

//.profile > p {
//  width: fit-content;
//}

.profile > .profileLeft {
  text-align: right;
  padding: 5px;
  width: 100%;
}

.profile > .profileRight {
  text-align: left;
  padding: 5px;
  width: 100%;
}

.profile > .currentLayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-end: span 2;
  border: 2px solid #000;
  padding: 10px 0 10px 0;
}

.profile > .currentLayout > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 5px 3px 5px;

  /*@media (max-width: 768px) {
    padding: 3px 5px 3px 5px;
  }*/

  @media (max-width: 2200px) {
    padding: 3px 15px 3px 15px;
  }
}

.profile > button { //logout button
    margin-top: 20px;
    padding: 10px 20px;
    background: #f5f5f5;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    grid-column-end: span 2;
}