/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import 'atoms/fish/styles.scss';
@import 'atoms/card/styles.scss';
@import 'atoms/login/styles.scss';
@import 'atoms/profileCI/styles.scss';
@import 'molecules/justCaughtModal/styles.scss';
@import 'molecules/currentLayout/styles.scss';
@import 'molecules/profile/styles.scss';
@import 'molecules/NextandBack/styles.scss';
@import 'molecules/inventory/styles.scss';
@import 'molecules/fishCollection/styles.scss';

* {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: black;
}