.inventory > h1 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
}

div.inventoryItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #666666;

  gap: 1px;
  border: 1px solid #333333;
  border-radius: 15px;
  height: 100%;
  padding: 10px;
  //background-color: orange;
  margin: 0 10px 0 10px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: #444444;
  border: black 1px solid;
  border-radius: 4px;
  margin: 1px;
  height: 50px;
  width: 50px;


  text-align: center;
}

.pageSelector {
  background-color: #666666;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}

.pageSelector > button {
  //background-color: #333333;
  //border: 1px solid black;
  //border-radius: 4px;
  color: white;
  padding: 5px;
  margin: 0 5px 0 5px;
  height: fit-content;
  aspect-ratio: 1/1;
}