.sp-type-dirt {
  background: saddlebrown;
}

.sp-type-grass {
    background: green;
}

.sp-type-water {
  background: cadetblue;
}

.sp-type-plant {
  background: orange;
}

.sp-type-plant-2 {
  background: yellow;
}

.sp-type-plant-3 {
  background: red;
}

.sp-type-blank {
  background: transparent;
  border: none;
}

.sp-type-golden {
  background: gold;
}
